<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <br>
    <div class="row">
        <div class="col">
            <div class="col-md">
                <div class="card text-center text-dark mb-3" id="total-order">
                    <div class="card-header">
                        <h5 class="card-title">Total order</h5>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">{{total_order}}</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="col-md">
                <div class="card text-center text-dark mb-3" id="order-delivered">
                    <div class="card-header">
                        <h5 class="card-title">Order Delivered</h5>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">{{delivered}}</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="col-md">
                <div class="card text-center text-dark mb-3" id="order-pending">
                    <div class="card-header">
                        <h5 class="card-title">Order pending</h5>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">{{pending}}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>
</body>

</html>